@model BarberShop.Models.Appointments

<div class="appointment-form">
    <form asp-action="BekleyenRandevu" asp-controller="Appointments" method="post" class="form-inline">

        <!-- Ad Soyad -->
        <div class="form-group">
            <label asp-for="FullName"></label>
            <input asp-for="FullName" class="form-control" placeholder="Ad Soyad" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>


        <!-- Telefon -->
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" placeholder="+90(5xx)xxx-xx-xx"/>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <!-- Hizmet -->
        <div class="form-group">
            <label for="service">Hizmet</label>
            <select id="service" name="service" class="form-control">
                <option value="sac">Saç Kesimi</option>
                <option value="sakal">Sakal Tıraşı</option>
                <option value="bakim">Cilt Bakımı</option>
            </select>
        </div>

        <!-- Personel -->
        <div class="form-group">
            <label for="personnel">Personel</label>
            <select id="personnel" name="personnel" class="form-control">
                <option value="ali">Ali</option>
                <option value="ahmet">Ahmet</option>
                <option value="fatma">Fatma</option>
            </select>
        </div>
        @{
            string minDateTime = DateTime.Now.ToString("yyyy-MM-ddTHH:mm");
        }
        <!-- Tarih ve Saat -->
        <div class="form-group">
            <label asp-for="Date"></label>
            <input asp-for="Date" class="form-control" min="@minDateTime" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>

        <!-- Gönder Butonu -->
        <div class="form-group">
            <button type="submit" class="btn btn-secondary">Randevu Al</button>
        </div>
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

